{% extends 'base.html' %}

{% block title %}
Tasks - 
{% endblock title %}

{% block content %}
    
    <form method="post">
    {% csrf_token %}

        {{task_form}}

        <button type="submit">SUBMIT</button>
    </form>

    <ol>
        {% for task in tasks %}
            <li>
                 <!-- this change -->
                {% if task.completed == True %}
                    <strike>{{task.title}} </strike>
                {% else %}
                    {{task.title}}
                {% endif %}
                
                |<a href="{% url "update_task" task.id %}">Update</a>
                |<a href="{% url "delete_task" task.id %}">Delete</a> 
                |<a href="{% url "task_completed" task.id %}">{% if task.completed == True %} unmark {% else %} Mark {% endif %}</a> 
                
            </li>
        {% endfor %}
    </ol>

{% endblock content %}